.landing {
  height: 95vh;
  position: relative;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  animation: moveInBottom 1s ease-in-out;
  
  @include media-query($md){
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: top;
    height: 98vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
    
  }

  &__content {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    animation: moveInLeft 1s ease-in-out;

    @include media-query($md){
      position: initial;
      background-color: rgba(255, 255, 255, 0.4);
      width: 80vw;
      max-width: none;
      padding: 1rem 2rem;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    font-family: $titlefont;
    color: $secondary;
    font-size: 4rem;
    @include media-query($md){
      font-size: 3rem;
    }
  }

  &__subtitle {
    font-family: $textfont;
    color: $primary;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    // @include media-query($md){
    //   font-size: 1rem;
    // }
  }
}