.skills {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    width: 80%;
  }
  &__button {
    width: 300px;
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}