.testimonials {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  @include media-query($md){
    height: auto;
  }
  @include media-query($sm){
    width: 95%;
  }
}