// Fonts

$titlefont: 'Muli', Arial, sans-serif;
$textfont: 'Lato', Verdana, sans-serif;


// Colors

$primary: #2D9CDB;
$secondary: #ED2FCF;
$white: #fff;
$black: #000;
$gray: #ccc;

// Screens

$sm: 414px;
$md: 768px;
$lg: 1024px;
